* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

.container3{
    max-width: 114rem;
    margin: 0 auto;
}
.container4{
    max-width: 114rem;
    margin: 0 auto;
}
.container5{
    max-width: 114rem;
    margin: 0 auto;
}

header{
   
    padding: 1rem;
     position: sticky;
     top: 0;
     z-index: 10;
     background-color: whitesmoke;
 }
.container6{
    max-width: 114rem;
    margin: 0 auto;
}
.container7{
    max-width: 114rem;
    margin: 0 auto;
}